@font-face {
	font-family: 'Mulish';
	src: local('Mulish-Regular'), url(@/assets/fonts/Mulish-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: local('Mulish-Bold'), url(@/assets/fonts/Mulish-Bold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: local('Mulish-ExtraBold'),
		url(@/assets/fonts/Mulish-ExtraBold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
